<drag-scroll>
  <img drag-scroll-item src="https://cdn.pixabay.com/photo/2015/06/24/01/15/morning-819362_1280.jpg" />
  <img drag-scroll-item src="https://cdn.pixabay.com/photo/2015/06/24/01/15/morning-819362_1280.jpg" />
  <img drag-scroll-item src="https://cdn.pixabay.com/photo/2015/06/24/01/15/morning-819362_1280.jpg" />
  <img drag-scroll-item src="https://cdn.pixabay.com/photo/2015/06/24/01/15/morning-819362_1280.jpg" />
  <img drag-scroll-item src="https://cdn.pixabay.com/photo/2015/06/24/01/15/morning-819362_1280.jpg" />
  <img drag-scroll-item src="https://cdn.pixabay.com/photo/2015/06/24/01/15/morning-819362_1280.jpg" />
</drag-scroll>
