home {
  ion-content {
    text-align: center;
    background: url("/assets/imgs/background-home-blur.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
