// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts"; // The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals"; // Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222
);
$white: (
  a100: rgba(255,255,255, 1),
  a90: rgba(255,255,255, .9),
  a80: rgba(255,255,255, .8),
  a70: rgba(255,255,255, .7),
  a50: rgba(255,255,255, .5),
  a00: rgba(255,255,255, 0),
);
$black: (
  a100: rgba(0,0,0, 1),
  a90: rgba(0,0,0, .9),
  a80: rgba(0,0,0, .8),
  a70: rgba(0,0,0, .7),
  a60: rgba(0,0,0, .6),
  a50: rgba(0,0,0, .5),
  a40: rgba(0,0,0, .4),
  a30: rgba(0,0,0, .3),
  a20: rgba(0,0,0, .2),
  a10: rgba(0,0,0, .1),
  a05: rgba(0,0,0, .05),
  a03: rgba(0,0,0, .03),
  a01: rgba(0,0,0, .01),
); //RED-ISH COLORS
$alizarin: (
  a100: rgba(231, 76, 60,1.0),
  a80: rgba(231, 76, 60,.8),
  a60: rgba(231, 76, 60,.6),
  a40: rgba(231, 76, 60,.4),
);
$pomegranate: (
  a100: rgba(192, 57, 43,1.0),
); // YELLOW/ORANGE-ISH COLORS
$sunflower: (
  a100: rgba(241,196,15 ,1),
  a80: rgba(241,196,15,.8),
  a60: rgba(241,196,15,.6),
  a40: rgba(241,196,15,.4),
  a20: rgba(241,196,15,.2),
);
$carrot: (
  a100: rgba(230,126,34 ,1),
  a80: rgba(230,126,34,.8),
  a60: rgba(230,126,34,.6),
  a40: rgba(230,126,34,.4),
  a20: rgba(230,126,34,.2),
);
$orange: (
  a100: rgba(243,156,18 ,1),
  a80: rgba(243,156,18,.8),
  a60: rgba(243,156,18,.6),
  a40: rgba(243,156,18,.4),
  a20: rgba(243,156,18,.2),
);
$pumpkin: (
  a100: rgba(211,84,0 ,1),
  a80: rgba(211,84,0,.8),
  a60: rgba(211,84,0,.6),
  a40: rgba(211,84,0,.4),
  a20: rgba(211,84,0,.2),
);
$amber: (
  a100: rgba(255, 193, 7, 1.0),
  a80: rgba(255, 193, 7,.8),
  a60: rgba(255, 193, 7,.6),
  a40: rgba(255, 193, 7,.4),
  a20: rgba(255, 193, 7,.2),
); //GREEN-ISH COLORS
$turqoise: (
  a100: rgba(26,188,156 ,1),
  a80: rgba(26,188,156,.8),
  a60: rgba(26,188,156,.6),
  a40: rgba(26,188,156,.4),
  a20: rgba(26,188,156,.2),
);
$emerald: (
  a100: rgba(46,204,113 ,1),
  a80: rgba(46,204,113,.8),
  a60: rgba(46,204,113,.6),
  a40: rgba(46,204,113,.4),
  a20: rgba(46,204,113,.2),
);
$greensea: (
  a100: rgba(22,160,133 ,1),
  a80: rgba(22,160,133,.8),
  a60: rgba(22,160,133,.6),
  a40: rgba(22,160,133,.4),
  a20: rgba(22,160,133,.2),
);
$nephritis: (
  a100: rgba(39,174,96 ,1),
  a80: rgba(39,174,96,.8),
  a60: rgba(39,174,96,.6),
  a40: rgba(39,174,96,.4),
  a20: rgba(39,174,96,.2),
); //BLUE-ISH COLORS
$peterriver: (
  a100: rgba(52,152,219 ,1),
  a80: rgba(52,152,219,.8),
  a60: rgba(52,152,219,.6),
  a40: rgba(52,152,219,.4),
  a20: rgba(52,152,219,.2),
);
$belizehole: (
  a100: rgba(41,128,185 ,1),
  a80: rgba(41,128,185,.8),
  a60: rgba(41,128,185,.6),
  a40: rgba(41,128,185,.4),
  a20: rgba(41,128,185,.2),
);
$wetasphalt: (
  a100: rgba(52,73,94 ,1),
  a80: rgba(52,73,94,.8),
  a60: rgba(52,73,94,.6),
  a40: rgba(52,73,94,.4),
  a20: rgba(52,73,94,.2),
);
$midnightblue: (
  a100: rgba(44,62,80 ,1),
  a80: rgba(44,62,80,.8),
  a60: rgba(44,62,80,.6),
  a40: rgba(44,62,80,.4),
  a20: rgba(44,62,80,.2),
); //PURPLE-ISH COLORS
$amethyst: (
  a100: rgba(155,89,182 ,1),
  a80: rgba(155,89,182,.8),
  a60: rgba(155,89,182,.6),
  a40: rgba(155,89,182,.4),
  a20: rgba(155,89,182,.2),
);
$wisteria: (
  a100: rgba(142,68,173 ,1),
  a80: rgba(142,68,173,.8),
  a60: rgba(142,68,173,.6),
  a40: rgba(142,68,173,.4),
  a20: rgba(142,68,173,.2),
); //GREY-ISH COLORS
$clouds: (
  a100: rgba(236,240,241 ,1),
  a80: rgba(236,240,241,.8),
  a60: rgba(236,240,241,.6),
  a40: rgba(236,240,241,.4),
  a20: rgba(236,240,241,.2),
);
$concrete: (
  a100: rgba(149,165,166 ,1),
  a80: rgba(149,165,166,.8),
  a60: rgba(149,165,166,.6),
  a40: rgba(149,165,166,.4),
  a20: rgba(149,165,166,.2),
);
$silver: (
  a100: rgba(189,195,199 ,1),
  a80: rgba(189,195,199,.8),
  a60: rgba(189,195,199,.6),
  a40: rgba(189,195,199,.4),
  a20: rgba(189,195,199,.2),
);
$asbetos: (
  a100: rgba(127,140,141 ,1),
  a80: rgba(127,140,141,.8),
  a60: rgba(127,140,141,.6),
  a40: rgba(127,140,141,.4),
  a20: rgba(127,140,141,.2),
);
$grey-1: (
  a100: rgba(214, 214, 214,1.0),
  a80: rgba(214, 214, 214,.8),
  a60: rgba(214, 214, 214,.6),
  a40: rgba(214, 214, 214,.4),
  a20: rgba(214, 214, 214,.2),
);
$grey-2: (
  a100: rgba(178, 178, 178,1.0),
  a80: rgba(178, 178, 178,.8),
  a60: rgba(178, 178, 178,.6),
  a40: rgba(178, 178, 178,.4),
  a20: rgba(178, 178, 178,.2),
);
$grey-3: (
  a100: rgba(74, 74, 74, 1),
);
$text: (
  body: #666,
  333: #333,
); //SIZES
$input-placeholder: rgba(66,108,154, 0.7);
$input-placeholder: rgba(66,108,154, 0.7);
$container-padding-sm: 12px;
$container-padding-md: 24px;
$border-radius: 12px;
$font-size-xxxlg: 2.5em;
$font-size-xxlg: 2.0em;
$font-size-xlg: 1.7em;
$font-size-lg: 1.4em;
$font-size-md: 1.2em;
$font-size-sm: 1.0em;
$font-size-xsm: 0.8em;
$font-size-xxsm: 0.6em;
$space-md-min: 1px;
$space-xsm: 3px;
$space-sm: 8px;
$space-md-1: 16px;
$space-md-2: 20px;
$space-md-3: 45px;
$space-neg-md: -28px;
$range-md-pin-padding-vertical: 0;
$split-pane-ios-side-max-width: 300px;
$split-pane-md-side-max-width: 300px; // App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default"; // Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons"; // Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
