send {
  .cards-asthetics {
    width: calc(100% - 3em);
    margin: 0 1.5em;
    // background: red;
    height: 5em;
    position: relative;

    .card-1 {
      width: calc(100% - 1.2em);
      margin: 0 0.6em;
      background: blue;
      height: 1.4em;
      position: absolute;
      bottom: -2px;
      background: color($white, a20);
      border-top-left-radius: 0.2em;
      border-top-right-radius: 0.2em;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      z-index: -1;
    }

    .card-2 {
      width: calc(100% - 3em);
      margin: 0 1.5em;
      background: yellow;
      height: 2.2em;
      position: absolute;
      bottom: -2px;
      background: color($white, a20);
      border-top-left-radius: 0.2em;
      border-top-right-radius: 0.2em;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      z-index: -2;
    }
  }

  .card-ios,
  .card-md {
    background: url("/assets/imgs/background-home.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: calc(100% - 3em);
    margin: 0 1.5em;
  }

  ion-card {
    height: calc(100% - 8em);
  }

  .card-content-ios,
  .card-content-md {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .send-content {
    background: color($white, a70);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .send-footer {
    text-transform: uppercase;
    background: color($white, a100);
    display: flex;
    justify-content: space-between;
  }
}
